.sidebar__container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--metamorphosis-midtone-blue);
  color: var(--metamorphosis-white);
  height: 100vh;
  transition: 0.5s ease-in-out;
}

.container__inactive {
  width: 65%;
  animation: inactive 1s ease-in-out;
}

@keyframes inactive {
  0% {
    width: 100%;
  }

  100% {
    width: 65%;
  }
}

.container__active {
  width: 100%;
  animation: active 1s ease-in-out;
}

@keyframes active {
  0% {
    width: 65%;
  }

  100% {
    width: 100%;
  }
}

.sidebar__container__header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 4em 3em;
}

.sidebar__toggle__button {
  cursor: pointer;
  position: absolute;
  font-size: 1.5em;
  top: 0.25em;
  right: 0.5em;
  transition: 0.5s ease-in-out;
}

.sidebar__toggle__button:hover {
  transform: rotate(180deg);
}

.sidebar__logo {
  height: 3.5em;
}

.sidebar__links {
  text-decoration: none;
  color: var(--metamorphosis-white);
  transition: 0.5s ease-in-out;
}

.sidebar__links:hover {
  color: var(--metamorphosis-gray);
  opacity: 0.8;
  transform: translateY(-0.25em);
}

.sidebar__container__links {
  display: flex;
  margin-inline: 0.5em;
  font-weight: 800;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  animation: textOpacityShift 1.75s ease-in-out;
}

@keyframes textOpacityShift {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sidebar__icon__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar__icon {
  font-size: 1.5em;
  margin-inline: auto;
  margin-block: 0.5em;
}

@media screen and (max-width: 750px) {
  .sidebar__container__links {
    margin-block: 0.25em;
    font-size: 0.7em;
  }
}
